{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to DuiShela Ltd.</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  </head>
  <body>

    <header>
    <nav class="nav">
      <a href="/" class="logo">DuiShela</a>

      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>

      <div class="nav__link hide">

      {% block content %}

      {% if request.user.is_authenticated %}
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
      {% endif %}

      {% endblock %}

      </div>
    </nav>
    </header>

    <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>
    <script <source src="{% static 'js/index.js' %}"></script>
  </body>
</html>
